{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<div class="d-flex justify-content-end">
    <a href="{{path('app_categorie_create')}}" class="btn btn-primary">Ajouter une catégorie</a>
</div>

<table class="table">
<thead>
    <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Catégorie parent</th>
        <th>Date de création</th>
    </tr>
</thead>
<tbody>
{% for categorie in categories %}
    <tr>
        <td>{{categorie.code}}</td>
        <td>{{categorie.nom}}</td>
        <td>
        {{categorie.categorieParent ? categorie.categorieParent.nom : '-' }}</td>
        <td>{{categorie.dateCreation|date('j/m/Y')}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
    

{% endblock %}
